#front {

  backgroundcolor: #ffff00;
  border: 1px;
  height: 462px;
  overflow: hidden;


  td { padding-right:10px;padding-left:10px; }

  h2 {
    font-size: 225%;
  }

  .main {
    margin-top: 20px;
  }

  .marker {
    font-size: 400%;
    line-height: 100%;
  }

  h3 {
    font-size: 125%;
  }

  .option {
    border-top: 3px solid #BBBBBB;
    margin-top: 20px;
    padding-top: 20px;
  }

  .buttons {
    margin-top: 20px;
  }

  .dates .row {
    margin: 10px 0 10px 0;
    div {
      font-size: 110%;
    }
    > [class*='span'] {
      margin-left: 0;
    }
  }

  a { color: #3D59AB;
      text-decoration:underline }

  .sidebar {
    color: #3D59AB;
  }

  hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
  }
}

#redelecname {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: red;
}

#stateget {
  font-size: 17px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3D59AB;
  a { color: white;
      text-decoration:none; }
}

#statebacknext {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #444444;
  a { color: white;
      text-decoration:none;  }
}

.btnbacknext {
  font-size: 18px;
  text-align: center;
  background-color: #444444;
  color: white;
}

#statebar {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: lightblue;
  color: #3D59AB;
}

#doing {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #3D59AB;
  color: white;
}

#todo {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #DDDDDD;
  color: black;
}

#positionbacknext {
  position: absolute;
  top: 640px;
}

#scroil8 {
   background: #FFFAF0;
   width: 619px;
   height: 345px;
   overflow-y: auto;
   overflow-x: hidden;
}

#scroil9 {
   background: #FFFAF0;
   width: 699px;
   height: 345px;
   overflow-y: auto;
   overflow-x: hidden;
}

#scroil10 {
   background: #FFFAF0;
   width: 779px;
   height: 345px;
   overflow-y: auto;
   overflow-x: hidden;
}

#scroil {
   background: #FFFAF0;
   width: 779px;
   height: 345px;
   overflow-y: auto;
   overflow-x: hidden;
}

#likeh1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
    color: black;
}

#likeh2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    color: black;
}

#likeh2blue {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    color: #3D59AB;
}

#likeh3 {
    font-size: 18px;
    text-align: left;
    line-height: 34px;
    color: #3D59AB;
}

#likeh4 {
    font-size: 16px;
    text-align: left;
    line-height: 34px;
    color: #3D59AB;
}

#likeh3b {
    font-size: 18px;
    text-align: left;
    line-height: 34px;
    color: black;
}

#likeh3r {
    font-size: 18px;
    text-align: right;
    line-height: 34px;
    color: #3D59AB;
}

.capbold {
    text-transform:capitalize;
    font-weight:bold;
    color: #3D59AB;
    font-size: 16px;
}
