#header {
  overflow: hidden;
  margin-bottom: 20px;
  background: #3D59AB;
  background: #444444;
  color: #fff;
  padding: 10px;

  img {
    float: left;
  }

  h1 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    position: relative;
    top: -16px;
  }

  .subtitle {
    margin-left: 200px;
  }

  b {
    color: #B0B0B0;
    text-align: right;
    font-size: 16px;
    position: relative;
    left: 20px;
  }

}


#menu {
    text-align: right;
    position: relative;
    top: -16px;

    li {
      display: inline-block;
      padding-left: 7px;
      padding-right: 0px;
      margin: 0;
    }

    li:before {
      content: '';
    }

    a {
      color: white;
    }
}
