#front
  .row
    .span3
      &nbsp;
    .span9
      %h2 Virginia Voter Activity Analytics
      %br
        This service offers two ways of getting started:
  .row
    .span3.sidebar
      %em
        %p
          %b Welcome to Virginia Voter Activity Analytics
        %p
          &nbsp;&nbsp;&#8230; a new service for Virginia election officials.
        %p
          This service permits voter transactions to be uploaded, stored,
          consolidated, and analyzed, all while ensuring the privacy of
          individual voters.  
        %p
          Through analysis, we can improve voter services
          and increase voter participation, especially for those
          voters with systemic barriers to voting, like
          overseas and Military voters, and the disabled.
    .span9
      .row
        .span4.option
          .marker 1
          %h3 Select an Existing Election Log
        .span4.option
          .marker 2
          %h3 Create a New Election Log
      .row
        .span4
          %p
            If you or your colleagues have already created an Election Log
            for a specific election, you can access the log to insert and
            manage the source data, and to run analytics on the consolidated
            log data to produce a variety of reports.
        .span4
          %p
            If no Election Log is available that suits your purpose, you can
            create a new Election Log for a specific election and then select
            it to be used as your Existing Election Log.
      .row
        .span4
          = link_to "Get Started Now", 'elections', class: 'primary btn'
        .span4
          = link_to "Get Started Now", new_election_path, class: 'primary btn'
