#front
  .row
    %br
    %br
    .span3.sidebar
      %p
        %b Welcome to the Virginia Voter Activity Analytics
      %p{:style=>"color: black;"}
        &nbsp;&nbsp;&#8230; a new service for Virginia election officials.
    .span9
      - AppConfig['login']['emails'].each do |em|
        = em
  .row
    .span3.sidebar{:style=>"color: black;"}
      %p
        This service permits voter transactions to be uploaded, 
        stored, consolidated, and analyzed, all while ensuring 
        the privacy of individual voters. 
      %p
        Through analysis, we can improve voter services and 
        increase voter participation, especially for those voters with 
        systemic barriers to voting, like overseas and Military voters, 
        and the disabled.  
      %p
        %em{:style=>"color: black;"}
          Virginia State Board of Elections
    .span9
      This service offers two ways of getting started:
      .row
        .span4.option
          .marker 1
          %h3 Select an Existing Election Log
          %br
        .span4.option
          .marker 2
          %h3 Create a New Election Log
          %br
      .row
        .span4
          %p
            If you or your colleagues have already created an Analytics Log
            for a specific election, you can access that log to manage  
            the source data, and to  run analytics over 
            the consolidated log data to produce a variety of reports. 
          -if (Election.all.length == 0)
            %p
              %i There are no uploaded logs, so start with Step #2.
        .span4
          %p
            You can create a new Analytics Log for a speciﬁc election, and add
            source data from election systems that log voter activity such 
            as registration and absentee voting. You can come back to this new
            log later to add more data as needed, and run analytics over the 
            consolidated data. 
      .row
        -if (Election.all.any? {|e| ! e.archived})
          .span2#stateget
            = link_to "Get Started Now ", 'elections'
        -else
          .span2
            &nbsp;
        .span2
          &nbsp;
        .span2#stateget
          = link_to "Get Started Now", new_election_path
