%h2 Editing Voter Transaction Record
%br

= render 'form'

= link_to 'Show', @voter_transaction_record
\|
= link_to 'Disp', @voter_transaction_record
\|
= link_to 'Back', voter_transaction_records_path
