%h2 New Voter Transaction Log
%br

= render 'form'

= link_to 'Cancel', voter_transaction_logs_path
\|
= link_to 'Back', voter_transaction_logs_path
\|
= link_to 'List All', voter_transaction_logs_path
