#front
  %h1= 'The Very Last Report You Will Ever See'
  %h3= 'Election: '+@election.display()
  %h3= @report_date
  %br
  %br
  %b{:style=>"color:red;"}
    The presence of this  page is indicative of an error in the Analytics
    report generation process. 
  %span{:style=>"position:absolute;top:640px;"}
    = link_to 'Back', '/analytic?id='+@election.id.to_s
