#front
  .row
    -if (Election.all.any?{|e|e.selected})
      .span2#redelecname
        = (Election.all.find{|e|e.selected}).name
        %br
        = (Election.all.find{|e|e.selected}).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span10
      #likeh2blue The Very Last Report You Will Ever See
  .row
    .span2.sidebar
      %br
      Describe report here
    .span10#redelecname
      %br
      WARNING: Shouldn't Happen!
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      -if (Election.all.any?{|e|e.selected})
        = link_to "Back", '/analytic?id='+(Election.all.find{|e|e.selected}).id.to_s
      -else
        = link_to 'Back', :back
